/*------- MAIN -------*/

body {
  font-family: "Comfortaa", "Helvetica Neue", sans-serif;
}

#container {
  padding: 1em;
}

@media (min-width: 769px) {
  #container {
    border: 1px solid black;
    border-radius: 20px;
    margin: 1em;
  }
}

@media (min-width: 1024px) {
  #container {
    margin: 1em auto;
    max-width: 70%;
  }
}

.left-offset {
  padding-left: 0.8em;
}

.right-offset {
  padding-right: 0.8em;
}

/*------- NAVBAR -------*/

nav.navbar {
  border-bottom: 1px solid black;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.navbar p {
  margin: 0;
}

.app-title {
  padding-left: 0.5em;
}

.app-tagline {
  display: none !important;
}

@media (min-width: 769px) {
  .app-tagline {
    display: flex !important;
  }
}

/*------- FOOTER -------*/

div.app-footer {
  border-top: 1px solid black;
  margin-top: 1em;
  padding-top: 1em;
  width: 100%;

  display: inline-flex;
  justify-content: space-between;
}

/*------- MAIN CONTENT -------*/

#main-content {
  text-align: center;
}

.select-ratio {
  display: flex;
  justify-content: center;
}

.select-ratio .field-body {
  flex-grow: 0 !important; /* overriding Bulma */
}

.field {
  margin: 0 1em 1em 1em !important; /* overriding Bulma */
}

#par-help {
  margin-left: 1em;
}

/*------- CALCULATOR -------*/

#number-inputs {
  display: flex;
  justify-content: center;
}

#number-inputs .field {
  margin: 0 1em 1em 0;
}

#number-inputs input {
  max-width: 130px;
}

#number-inputs input::placeholder {
  font-size: 0.8em;
}

#help-panel {
  border: 1px solid black;
  border-radius: 20px;
  padding: 1em;

  margin: 0 auto 1em auto;
  max-width: 70%;
}

#help-panel p:not(:last-child) {
  margin-bottom: 0.5em;
}
